:root {
  --cor-fundo: #022859;
  --cor-texto: white;
  --cor-primaria: #717377;
  --cor-destaque: #ea580c;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  /* Substitua o caminho abaixo se a sua imagem estiver em outra pasta */
  /* background-image: url('../assets/images/backgroundIn.jpg'); */
  background-size: cover; /* Faz a imagem cobrir a tela toda */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat;
  background-attachment: fixed; /* O fundo fica parado quando você rola a página (efeito parallax simples) */
  color: white;
}
