.card_wrapper {
  position: relative;
  background: rgba(255, 255, 255, 0.08); /* Borda base um pouco mais visível */
  border-radius: 16px;
  padding: 1px;
  overflow: hidden;
}

.card_border_glow {
  position: absolute;
  inset: 0;
  opacity: var(--opacity, 0);
  transition: opacity 0.3s ease;
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.7),
    /* INTENSIDADE DOBRADA (de 0.25 para 0.5) */ transparent 40%
  );
}

.card_content {
  position: relative;
  z-index: 1;
  background-color: #050505;
  border-radius: 15px;
  height: 100%;

  background-image: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.08),
    /* Brilho interno um pouco mais forte */ transparent 40%
  );
  opacity: 1;
}
